.form-control{
	border-radius: 0px !important;
	font-size: 13px;
	
}
label:not(.form-check-label):not(.custom-file-label) {
	font-weight: 600 !important;
	font-size: 14px;
}
th{
	font-weight: 500;
	font-size: 13px;
}
td{
	font-size: 12px;
}